// 默认所有色值
:root {
  --boke-color-fff: #fff; // 白色
  --boke-bg-color: #f9f9f9; // body背景色
  --boke-card-bg: #fff; // 卡片背景色
  --boke-color-main: #2970ff; // 系统主色
  --boke-bg-nav-first: #eff4ff; // 一级导航背景色
  --boke-bg-nav-first-icon: #898d95; // 一级导航图标颜色
  --boke-bg-nav-second: #e5ebfb; // 二级导航背景色
  --boke-bg-nav-second-active: #fff; // 二级导航选中背景色
  --boke-color-text-title: #303133; // 标题文字色
  --boke-color-text-content: #606266; // 正文文字颜色
  --boke-color-text-describe: #9aa2a1; // 辅助描述文字颜色
  --boke-color-text-disable: #cccccc; // 禁用文字色
  --boke-search-divider-color: #e5e6eb; // 搜索栏右侧按钮分割线颜色
  --boke-color-border-divider: rgba(217, 217, 217, 0.8); // 分割线颜色
  --boke-color-border-table: #e5e6eb; // 表格线颜色
  --boke-bg-input: #f6f9ff; // 输入框背景色
  --boke-color-success: #00b42a; // 成功色
  --boke-color-fail: #ff707d; // 失败色
  --boke-color-warning: #ffab13; // 警告色
  --boke-color-open: #6966f2; // 启用颜色
  --boke-table-th-bg: #f6f9ff; // 表格头部背景色，搜索表单背景颜色
  --boke-table-current-row-bg-color: #ede9fe; // 表格当前行背景色
  --boke-board-bg: #fafbff; // 报表卡片背景色
  --boke-table-small-bg: #eef3ff; // 小表格背景色
  --boke-table-small-color: #1d2129; // 小表格文字色
  --boke-color-red: #ff4557; // 红色
  --boke-dialog-bg: var(--boke-card-bg); // 波克弹窗颜色
  --boke-title-bg: #e3ebff;
  --el-color-primary: var(--boke-color-main);
  --el-table-current-row-bg-color: var(--boke-table-current-row-bg-color);
  --el-table-row-hover-bg-color: var(--boke-table-current-row-bg-color);
}
.h1 {
  font-size: 30px;
} // 特殊大字符
.h2 {
  font-size: 24px;
} // 特殊大字符
.h3 {
  font-size: 20px;
} // 特殊大字符
.h4 {
  font-size: 18px;
} // 主标题 / 页面导航 / 页面名称 / 卡片标题
.h5 {
  font-size: 16px;
  @extend .font-medium;
  color: var(--boke-color-text-title);
} // 次标题
.h6 {
  font-size: 14px;
} // 正文&小标题 / 侧边栏二级菜单
.h7 {
  font-size: 12px;
} // 辅助文字&失效文字 / 侧边栏一级菜单
.font-medium {
  font-family: 'puhui-medium';
}
.font-bold {
  font-family: 'puhui-bold';
}
.cursor {
  user-select: none;
  cursor: pointer;
} // 禁止用户选中 鼠标变为手形

// 填满父元素
// 组要父元素 position: relative | absolute;
%full {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

// flex 垂直水平居中
%flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
%flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
